.container {
    margin-top: 100px;
    text-align: center;

    p {
        color: rgb(167, 167, 167);
    }
}

.grup1 {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    text-align: center;

    p {
        color: rgb(167, 167, 167);
    }
}